* {
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FAEBD7;
}

p {
    margin: 0;
}

.encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #008B8B;
    color: white;
    border-bottom: 6px solid rgb(27, 26, 26);
    padding: 10px;
}

.opciones-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(210, 105, 30);
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 270px;
    padding: 10px;
}

input[type="radio"]:checked+span {
    font-weight: bold;
}

.opciones {
    font-size: 1.2em;
}

.opcion {
    margin: 5px;
}

.encabezado button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(210, 105, 30);
}

.encabezado select {
    padding: 10px 30px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(210, 105, 30);
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.encabezado select:focus {
    border-color: #0066cc;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
    outline: none;
}

.encabezado option {
    font-size: 0.9em;
}

#personaje {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px;
}

.personaje-fila {
    display: flex;
    align-items: center;
    gap: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.personaje-info {
    background-color: #87CEEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 450px;
}

#personaje-nombre {
    font-size: 2.3em;
    margin: 15px;
    margin-top: 30px;
}

#personaje-anime {
    font-size: 1.20em;
    max-width: 300px;
    margin: 15px;
}

#personaje-imagen {
    max-width: 300px;
    max-height: 500px;
    min-height: 300px;
    margin-top: 20px;
    border-radius: 50px;
}

#personaje-descripcion {
    font-size: 1.20em;
    margin-top: 30px;
    max-width: 300px;
    margin-bottom: 20px;
}

#personaje-url,
#personaje-url-db {
    margin-top: 10px;
    text-decoration: none;
    color: blue;
    font-size: 1.20em;
    margin-bottom: 30px;
}

#personaje-url:hover,
#personaje-url-db:hover {
    text-decoration: underline;
}

#personaje-video,
#personaje-episodio {
    display: flex;
    flex-direction: column;
}

.titulo-video,
.titulo-episodio {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

#personaje-video video,
#personaje-episodio iframe,
#personaje-trailer iframe {
    border-radius: 10px;
    background-color: black;
    border: none;
}

@media (max-width: 1400px) {

    #personaje-video video,
    #personaje-episodio iframe,
    #personaje-trailer iframe {
        width: 600px;
        height: 400px;
    }

    .personaje-fila {
        gap: 100px;
    }
}

@media (max-width: 768px) {

    #personaje-video video,
    #personaje-episodio iframe,
    #personaje-trailer iframe {
        width: 350px;
        height: 200px;
    }

    .encabezado {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .personaje-fila {
        flex-direction: column;
        place-content: center;
        gap: 50px;
    }

    .personaje-info {
        max-width: 300px;
    }

    #personaje-anime {
        max-width: 195px;
    }

    #personaje-descripcion {
        font-size: 1.16em;
        max-width: 260px;
    }

    #personaje-imagen {
        max-width: 220px;
        max-height: 420px;
    }

    .titulo-video,
    .titulo-episodio {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 12px;
    }
}