* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9967A;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    margin: 0 auto;
    padding: 10px;
}

.ima {
    display: flex;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.videos-container iframe {
    width: 300px;
    height: 200px;
    margin: 10px;
}